@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: 'Outfit';
    font-size: 15.5px;
}

.carousel-item {
    margin-top: 4.5rem;
}

.carousel-item img {
    filter: brightness(60%);
}

.container-content-2 {
    margin-top: 4rem;
}

.card-section {
    margin-top: 2rem;
}

.card-section .card {
    width: 18rem;
}

.card-section .card img{
    height: 18rem;
    filter: brightness(65%);
}

.teks-dalam h5 {
    font-weight: 550;
    font-size: 2.2rem;
}

.teks-dalam {
    margin-left: -4.5rem;
}

.teks-dalam span {
    font-size: 3.5rem;
}

.teks-dalam p{
    font-size: 2.5rem;
}

.linked-card {
    text-decoration: none;
}

.teks-dalam-2 {
    display: flex;
    gap: 10px;
}

