body {
    font-family: 'Outfit', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}
.navbar {
    margin-bottom: 0;
}
.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
}
.nav-link {
    font-weight: 700;
    color: #103056 !important;
}
.nav-link:hover{
    color: #103056 !important;
}
h2 {
    font-weight: bold;
}
h3 {
    font-weight: bold;
}
.badge-container {
    margin-top: 10px;
}
.badge {
    background-color: #001f6b;
    color: white;
    font-size: 0.9rem;
    margin-right: 5px;
}
footer {
    background-color: #fff;
    border-top: 1px solid #ddd;
}
.social-icons img {
    width: 24px;
    margin: 0 10px;
}
.btn-primary {
    background-color: #103056;
}
.nav-link[href="login.html"] {
    color: #103056;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
h2 {
    animation: fadeIn 1s ease-in-out;
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.row.my-4 {
    animation: slideIN 1s ease-in-out;
}
.social-icons a {
    transition: transform 0.3s;
}
.social-icons a:hover {
    transform: scale(1.2);
}