body {
    font-family: 'Outfit', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
}
.navbar {
    margin-bottom: 0;
}
.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
}
.nav-link {
    font-weight: 700;
    color: #103056 !important;
}
.nav-link:hover{
    color:#103056 !important;
}
.btn-outline-primary {
    border-color: #103056;
    color: #103056;
}
.btn-outline-primary:hover{
    background-color: white;
    color: #103056;
}
.btn-primary{
    background-color: #103056;
    border: none;
}
.gallery-container {
    text-align: center;
    margin: 20px;
}
.gallery-title {
    font-size: 2em;
    margin-bottom: 10px;
}
.gallery-subtitle {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}
.gallery-item {
    position: relative;
}
.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.load-more {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.load-more:hover {
    background-color: #0056b3;
}
footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
}

