body {
    font-family: 'Outfit', sans-serif;
}
.navbar-brand {
    font-weight: bold;
}
.nav-link {
    color: #103056 !important;
}
.header-section {
    background-image: url('hero-section.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.btn-outline-primary {
    border-color: #103056;
    color: #103056;
}
.btn-outline-primary:hover{
    background-color: white;
    color: #103056;
}
.btn-primary{
    background-color: #103056;
    border: none;
}
.island-section img, .explore-section img, .travel-inspiration img {
    width: 100%;
    height: auto;
}
footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e7e7e7;
}
footer p {
    margin: 0;
}
.explore-section .row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.explore-section .col-md-3 {
    padding: 0;
}
.explore-section .img-fluid {
    display: block;
    width: 100%;
    height: auto;
}
