body {
    font-family: 'Outfit', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
}
.navbar {
    margin-bottom: 0;
}
.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
}
.nav-link {
    font-weight: 700;
    color: #103056 !important;
}
.nav-link:hover {
    color: #103056 !important;
}
.hero {
    background: url('img/img-lanjukang/hero.png') no-repeat center center;
    background-size: cover;
    height: 60vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.morning-activity {
    background-color: #C3BCAA;
}
.snorkeling-activity {
    background-color: #2DAB95;
    color: white;
}
.night-activity {
    background-color: #121212;
    color: white;
}
.card-title {
    font-weight: bold;
}
@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.hero-overlay {
    animation: slideIn 1s ease-in-out;
}
.hero-overlay .btn-primary {
    animation: scaleUp 0.5s ease-in-out infinite alternate;
}
.card {
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.05);
}
.btn-outline-primary {
    border-color: #103056;
    color: #103056;
}
.btn-outline-primary:hover{
    background-color: white;
    color: #103056;
}
.btn-primary{
    background-color: #103056;
    border: none;
}