@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: Outfit;
}


.out-layer {
    display: flex;  
    padding: 10px;
    height: 100vh;
}

.side-right {
    flex: 1;
    margin-left: 30px;
    margin-right: 20px;
    /* margin-top: 80px; */
    border-radius: 10px;
    align-content: center;

}

.side-left {
    flex: 1;
    text-align: center;
    justify-content: center; /*nama saya adalah Franklin Jaya, jgangan lupa*/
    align-items: center;
}

.side-left img{
    border-radius: 15px;
    max-width: 100%; /* Membatasi lebar gambar maksimal setinggi kontainer */
    max-height: 100%; /* Membatasi tinggi gambar maksimal setinggi kontainer */
    width: 100%; /* Menentukan ukuran gambar relatif terhadap div-nya */
    height: auto; /* Mempertahankan rasio aspek gambar */
    object-fit: cover; /* Memastikan gambar tidak terdistorsi */

}

.btn-login{
    background-color: #103056;
    border: 0;
    color: white;  
    width: 100%; 
    border-radius: 10px;
}

.forgot-pass p{
    color: #103056;
    cursor: pointer;
}

.text-under-button a{
    text-decoration: none;
    color: #103056;
}


/* @media (max-width: 576px) {
    .login-container {
        padding: 10px;
    }
    .login-container h2 {
        font-size: 1.5rem;
    }
} */
