@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

* {
    font-family: Outfit;
}

.out-layer {
    display: flex;  
    padding: 10px;
    /* height: 125vh; */
}

.side-right {
    flex: 1;
    margin-left: 30px;
    margin-right: 20px;
    border-radius: 10px;
    align-content: center;
    height: 120vh;

}

.side-left {
    flex: 1;
    /* position: -webkit-sticky; */
    position: sticky;
    top: 10px; /* Jarak dari atas saat elemen menjadi lengket */
    max-height: 97vh; /* Membatasi tinggi maksimal */
    text-align: center;
    justify-content: center; /*nama saya adalah Franklin Jaya, jgangan lupa*/
    align-items: center;
}

.side-left img{
    border-radius: 15px;
    max-width: 100%; /* Membatasi lebar gambar maksimal setinggi kontainer */
    max-height: 100%; /* Membatasi tinggi gambar maksimal setinggi kontainer */
    width: 100%; /* Menentukan ukuran gambar relatif terhadap div-nya */
    height: auto; /* Mempertahankan rasio aspek gambar */
    object-fit: cover; /* Memastikan gambar tidak terdistorsi */
}

.btn-login{
    background-color: #103056;
    border: 0;
    color: white;  
    width: 100%; 
    border-radius: 10px;
}

.forgot-pass p{
    color: #103056;
    cursor: pointer;
}

.text-under-button a{
    text-decoration: none;
    color: #103056;
}

.toggle-pass {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.pass-container {
    position: relative;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .side-left, .side-right {
        flex: 100%;
        max-width: 100%;
    }
    .side-right {
        order: 1;
    }
    .side-left {
        order: 2;
        text-align: center;
    }
}



/* @media (max-width: 576px) {
    .login-container {
        padding: 10px;
    }
    .login-container h2 {
        font-size: 1.5rem;
    }
} */
