@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 2.2rem;
}

body {
    font-family: 'Outfit';
}

.wrapper {
    display: flex;
}

.main {
    margin-left: 85px;
    padding: 20px;
    min-height: 100vh;
    width: calc(100% - 110px);
    margin-top: 1rem;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #103056;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;    
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

#toggle-btn i{
    font-size: 1.5rem;
    color: #ffffff;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo img {
    color: #ffffff;
    font-size: 1.15rem;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .8rem 1.625rem;
    color: #ffffff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.18rem;
    margin-right: .75rem;
}

a.sidebar-link:hover{
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #ffffff;
}

.sidebar-footer {
    margin-bottom: 1rem;
}

/* add user button section */
.add-user {
    display: flex;
    align-items: center; /* Center vertically */
}

.btn-add-user {
    background-color: #103056;
    border: 2px solid #103056;
    display: flex;
    margin-top: 1rem;
    align-items: center; /* Align items (icon and text) vertically */
    text-decoration: none; /* Remove underline from link */
    color: inherit; /* Use the current text color */
    padding: 10px; /* Add some padding for a better appearance */
    transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition for color change with ease effect */
}

.btn-add-user:hover{
    background-color: #ffffff;
    color: #103056;
    border: 2px solid #103056;
}

.btn-add-user:hover i{
    color: #103056;
}

.btn-add-user:hover span{
    color: #103056;
}

.btn-add-user i {
    font-size: 15px; /* Set icon size */
    margin-right: 8px; /* Add some space between icon and text */
    color: #ffffff  ;
}

.btn-add-user span {
    font-size: 16px; /* Set text size */
    font-weight: 500;
    color: #ffffff;
}

/* card user section */
.card-img-top {
    width: 65%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

.card {
    padding: 1em .5em .5em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border: 0;
}

.card-title {
    font-weight: bold;
    font-size: 1.5em;
}

.btn-user-card {
    background-color: #103056;
    color: #ffffff;
    font-weight: 450;
    border: 2px solid #103056;
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition for color change with ease effect */
}

.btn-user-card:hover {
    background-color: #ffffff;
    border: 2px solid #103056;
    color: #103056;
}


